<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>file-upload</title>
</head>
<body>

<div class="alert alert-danger" role="alert" th:if="${status}!=null ? ${status} : false">
    <strong>success:</strong>
    <span th:text="${message}"></span>
</div>

<div class="alert alert-danger" role="alert" th:if="${status}!=null ? !${status} : false">
    <strong>Error:</strong>
    <span th:text="${message}"></span>
</div>


<form method="POST" th:action="@{/upload-csv-file}" enctype="multipart/form-data">
    <div class="form-group mt-3">
        <label for="file">Select a CSV file</label>
        <input type="file" name="file" class="form-control-file" id="file" accept=".csv">
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Import Users</button>
</form>

<script>
    var message = "";
</script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</body>
</html>